h1{
    font-size:60px; 
    color: blueviolet;
    margin-bottom: 15px;
    text-decoration: underline;
    background-color: fuchsia;
}
h2
{
    font-size:40px;
    color:coral
}
body{
    background-color: cyan;
    text-align: center;
}